---
http_interactions:
- request:
    method: get
    uri: http://api.nal.usda.gov/ndb/reports?api_key=DEMO_KEY&ndbno=01009&type=s
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - ''
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '976'
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"report\": {\n        \"sr\": \"27\",\n        \"type\": \"Statistics\",\n
        \       \"food\": {\n            \"ndbno\": \"01009\",\n            \"name\":
        \"Cheese, cheddar\",\n            \"nutrients\": [\n                {\n                    \"nutrient_id\":
        \"255\",\n                    \"name\": \"Water\",\n                    \"group\":
        \"Proximates\",\n                    \"unit\": \"g\",\n                    \"value\":
        \"37.10\",\n                    \"sourcecode\": [\n                        1,\n
        \                       2\n                    ],\n                    \"dp\":
        24,\n                    \"se\": \"0.280\",\n                    \"min\":
        32.75,\n                    \"max\": 39.08,\n                    \"df\": 5.0,\n
        \                   \"lb\": 36.37,\n                    \"ub\": 37.838,\n
        \                   \"nstudies\": 2,\n                    \"sc\": \"Analytical
        or derived from analytical\",\n                    \"refndb\": \"\",\n                    \"lm\":
        \"2014-08-01T04:00:00+0000\"\n                },\n                {\n                    \"nutrient_id\":
        \"208\",\n                    \"name\": \"Energy\",\n                    \"group\":
        \"Proximates\",\n                    \"unit\": \"kcal\",\n                    \"value\":
        \"406\",\n                    \"sourcecode\": \"\",\n                    \"dp\":
        \"\",\n                    \"se\": \"\",\n                    \"min\": null,\n
        \           [...]
