---
http_interactions:
- request:
    method: get
    uri: http://api.nal.usda.gov/ndb/reports?api_key=DEMO_KEY&ndbno=01009&type=b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - ''
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '974'
    body:
      encoding: ASCII-8BIT
      string: "{\n    \"report\": {\n        \"sr\": \"27\",\n        \"type\": \"Basic\",\n
        \       \"food\": {\n            \"ndbno\": \"01009\",\n            \"name\":
        \"Cheese, cheddar\",\n            \"nutrients\": [\n                {\n                    \"nutrient_id\":
        \"255\",\n                    \"name\": \"Water\",\n                    \"group\":
        \"Proximates\",\n                    \"unit\": \"g\",\n                    \"value\":
        \"37.10\",\n                    \"measures\": [\n                        {\n
        \                           \"label\": \"cup, diced\",\n                            \"eqv\":
        132.0,\n                            \"qty\": 1.0,\n                            \"value\":
        \"48.97\"\n                        },\n                        {\n                            \"label\":
        \"cup, melted\",\n                            \"eqv\": 244.0,\n                            \"qty\":
        1.0,\n                            \"value\": \"90.52\"\n                        },\n
        \                       {\n                            \"label\": \"cup, shredded\",\n
        \                           \"eqv\": [...]
