---
http_interactions:
- request:
    method: get
    uri: http://api.nal.usda.gov/ndb/list?api_key=DEMO_KEY&format=JSON&lt=f&max=50&offset=0&sort=id
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - ''
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '983'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "list": {
                "lt": "f",
                "start": 0,
                "end": 50,
                "total": 50,
                "sr": "27",
                "sort": "id",
                "item": [
                    {
                        "offset": 0,
                        "id": "01001",
                        "name": "Butter, salted"
                    },
                    {
                        "offset": 1,
                        "id": "01002",
                        "name": "Butter, whipped, with salt"
                    },
                    {
                        "offset": 2,
                        "id": "01003",
                        "name": "Butter oil, anhydrous"
                    },
                    {
                        "offset": 3,
                        "id": "01004",
  [...]
