---
http_interactions:
- request:
    method: get
    uri: http://api.nal.usda.gov/ndb/list?api_key=DEMO_KEY&format=JSON&lt=f&max=50&offset=1&sort=n
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - ''
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '981'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "list": {
                "lt": "f",
                "start": 1,
                "end": 50,
                "total": 50,
                "sr": "27",
                "sort": "n",
                "item": [
                    {
                        "offset": 1,
                        "id": "09002",
                        "name": "Acerola juice, raw"
                    },
                    {
                        "offset": 2,
                        "id": "09001",
                        "name": "Acerola, (west indian cherry), raw"
                    },
                    {
                        "offset": 3,
                        "id": "35182",
                        "name": "Acorn stew (Apache)"
                    },
                    {
                        "offset": 4,
                        "id": "[...]
