---
http_interactions:
- request:
    method: get
    uri: http://api.nal.usda.gov/ndb/list?api_key=DEMO_KEY&format=JSON&lt=n&max=50&offset=0&sort=n
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - ''
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '984'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "list": {
                "lt": "n",
                "start": 0,
                "end": 50,
                "total": 190,
                "sr": "27",
                "sort": "n",
                "item": [
                    {
                        "offset": 0,
                        "id": "749",
                        "name": "(+)-Catechin"
                    },
                    {
                        "offset": 1,
                        "id": "794",
                        "name": "(+)-Gallocatechin"
                    },
                    {
                        "offset": 2,
                        "id": "796",
                        "name": "(+)-Gallocatechin 3-gallate"
                    },
                    {
                        "offset": 3,
                        "id": "751",
             [...]
