---
http_interactions:
- request:
    method: get
    uri: http://api.nal.usda.gov/ndb/nutrients?api_key=DEMO_KEY&format=JSON&fq=&max=50&nutrients=205&offset=0&sort=f&subset=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - ''
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '963'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "report": {
                "sr": "27",
                "groups": "All groups",
                "subset": "Abridged List",
                "end": 50,
                "start": 0,
                "total": 995,
                "foods": [
                    {
                        "ndbno": "14007",
                        "name": "Alcoholic beverage, beer, light, BUD LIGHT",
                        "weight": 29.5,
                        "measure": "1.0 fl oz",
                        "nutrients": [
                            {
                                "nutrient_id": "205",
                                "nutrient": "Carbohydrate, by difference",
                                "unit": "g",
                                "value": "0.38",
                                "gm": 1.3
                            }
                        ]
                    },
                    {
                        "ndbno": "14009",
                        "name": "Alcoholic beverage, daiquiri, canned",
                        "weight": 30.5,
                        "measure": "1.0 fl oz",
                        "nutrients": [
                            {
                                "nutrient_id": "205",
                                "nutrient": "Carbohydrate, by differe[...]
