---
http_interactions:
- request:
    method: get
    uri: http://api.nal.usda.gov/ndb/nutrients?api_key=DEMO_KEY&format=JSON&fq=&max=50&ndbno=01009&nutrients=205&offset=0&sort=f&subset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - ''
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '968'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "report": {
                "sr": "27",
                "groups": "All groups",
                "subset": "All foods",
                "end": 1,
                "start": 0,
                "total": 1,
                "foods": [
                    {
                        "ndbno": "01009",
                        "name": "Cheese, cheddar",
                        "weight": 132.0,
                        "measure": "1.0 cup, diced",
                        "nutrients": [
                            {
                                "nutrient_id": "205",
                                "nutrient": "Carbohydrate, by difference",
                                "unit": "g",
                                "value": "1.76",
                                "gm": 1.33
                            }
                        ]
                    }
                ]
            }
        }
  recorded_at: Sun, 27 Sep 2015 01:14:40 GMT
recorded_with: VCR 2.9.3
