---
http_interactions:
- request:
    method: get
    uri: http://api.nal.usda.gov/ndb/nutrients?api_key=DEMO_KEY&format=JSON&fq=&max=50&nutrients=205&offset=1&sort=f&subset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - ''
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '969'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "report": {
                "sr": "27",
                "groups": "All groups",
                "subset": "All foods",
                "end": 51,
                "start": 1,
                "total": 8372,
                "foods": [
                    {
                        "ndbno": "09002",
                        "name": "Acerola juice, raw",
                        "weight": 242.0,
                        "measure": "1.0 cup",
                        "nutrients": [
                            {
                                "nutrient_id": "205",
                                "nutrient": "Carbohydrate, by difference",
                                "unit": "g",
                                "value": "11.62",
                                "gm": 4.8
                            }
                        ]
                    },
                    {
                        "ndbno": "09001",
                        "name": "Acerola, (west indian cherry), raw",
                        "weight": 98.0,
                        "measure": "1.0 cup",
                        "nutrients": [
                            {
                                "nutrient_id": "205",
                                "nutrient": "Carbohydrate, by difference"[...]
