---
http_interactions:
- request:
    method: get
    uri: http://api.nal.usda.gov/ndb/nutrients?api_key=DEMO_KEY&format=JSON&fq=&max=100&nutrients=205&offset=0&sort=f&subset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - ''
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '970'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "report": {
                "sr": "27",
                "groups": "All groups",
                "subset": "All foods",
                "end": 100,
                "start": 0,
                "total": 8372,
                "foods": [
                    {
                        "ndbno": "09427",
                        "name": "Abiyuch, raw",
                        "weight": 114.0,
                        "measure": "0.5 cup",
                        "nutrients": [
                            {
                                "nutrient_id": "205",
                                "nutrient": "Carbohydrate, by difference",
                                "unit": "g",
                                "value": "20.06",
                                "gm": 17.6
                            }
                        ]
                    },
                    {
                        "ndbno": "09002",
                        "name": "Acerola juice, raw",
                        "weight": 242.0,
                        "measure": "1.0 cup",
                        "nutrients": [
                            {
                                "nutrient_id": "205",
                                "nutrient": "Carbohydrate, by difference",
            [...]
