---
http_interactions:
- request:
    method: get
    uri: http://api.nal.usda.gov/ndb/nutrients?api_key=DEMO_KEY&fg=0100&format=JSON&fq=&max=50&nutrients=205&offset=0&sort=f&subset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - ''
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '971'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "report": {
                "sr": "27",
                "groups": [
                    {
                        "id": "0100",
                        "description": "Dairy and Egg Products"
                    }
                ],
                "subset": "All foods",
                "end": 50,
                "start": 0,
                "total": 264,
                "foods": [
                    {
                        "ndbno": "43205",
                        "name": "Beverage, instant breakfast powder, chocolate, not reconstituted",
                        "weight": 7.4,
                        "measure": "1.0 tbsp",
                        "nutrients": [
                            {
                                "nutrient_id": "205",
                                "nutrient": "Carbohydrate, by difference",
                                "unit": "g",
                                "value": "4.90",
                                "gm": 66.2
                            }
                        ]
                    },
                    {
                        "ndbno": "43260",
                        "name": "Beverage, instant breakfast powder, chocolate, sugar-free, not reconstituted",
                        "weight": 5.6,
                        "measure": "1.0 tbsp",
                        "nutrients": [
                            {
                                "nutrient_id": "205",
                              [...]
