---
http_interactions:
- request:
    method: get
    uri: http://api.nal.usda.gov/ndb/search?api_key=DEMO_KEY&fg=&format=JSON&max=50&offset=0&q=butter&sort=r
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - ''
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '979'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "list": {
                "q": "butter",
                "sr": "27",
                "start": 0,
                "end": 50,
                "total": 120,
                "group": "",
                "sort": "r",
                "item": [
                    {
                        "offset": 0,
                        "group": "Fats and Oils",
                        "name": "Margarine-like, margarine-butter blend, soybean oil and butter",
                        "ndbno": "04585"
                    },
                    {
                        "offset": 1,
                        "group": "Legumes and Legume Products",
                        "name": "Peanut butter, reduced sodium",
                        "ndbno": "42291"
                    },
                    {
                        "offset": 2,
                        "group": "Baked Products",
                        "name": "Croissants, butter",
                        "ndbno": "18239"
           [...]
