---
http_interactions:
- request:
    method: get
    uri: http://api.nal.usda.gov/ndb/search?api_key=DEMO_KEY&fg=0500&format=JSON&max=50&offset=0&q=&sort=r
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - ''
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '977'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "list": {
                "q": "",
                "sr": "27",
                "start": 0,
                "end": 50,
                "total": 390,
                "group": "0500",
                "sort": "r",
                "item": [
                    {
                        "offset": 0,
                        "group": "Poultry Products",
                        "name": "Chicken, broiler, rotisserie, BBQ, breast meat only",
                        "ndbno": "05000"
                    },
                    {
                        "offset": 1,
                        "group": "Poultry Products",
                        "name": "Chicken, broilers or fryers, meat and skin and giblets and neck, raw",
                        "ndbno": "05001"
                    },
                    {
                        "offset": 2,
                        "group": "Poultry Products",
                        "name": "Chicken, broilers or fryers, meat and skin [...]
