---
http_interactions:
- request:
    method: get
    uri: http://api.nal.usda.gov/ndb/search?api_key=DEMO_KEY&fg=&format=JSON&max=50&offset=0&q=&sort=r
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - ''
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '980'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "list": {
                "q": "",
                "sr": "27",
                "start": 0,
                "end": 50,
                "total": 8618,
                "group": "",
                "sort": "r",
                "item": [
                    {
                        "offset": 0,
                        "group": "Dairy and Egg Products",
                        "name": "Butter, salted",
                        "ndbno": "01001"
                    },
                    {
                        "offset": 1,
                        "group": "Dairy and Egg Products",
                        "name": "Butter, whipped, with salt",
                        "ndbno": "01002"
                    },
                    {
                        "offset": 2,
                        "group": "Dairy and Egg Products",
                        "name": "Butter oil, anhydrous",
                        "ndbno": "01003"
        [...]
