---
http_interactions:
- request:
    method: get
    uri: http://api.nal.usda.gov/ndb/search?api_key=DEMO_KEY&fg=&format=JSON&max=50&offset=0&q=Cheddar%20Cheese&sort=n
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - ''
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '977'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "list": {
                "q": "Cheddar Cheese",
                "sr": "27",
                "start": 0,
                "end": 23,
                "total": 23,
                "group": "",
                "sort": "n",
                "item": [
                    {
                        "offset": 0,
                        "group": "Baked Products",
                        "name": "AUSTIN, Cheddar Cheese on Cheese Crackers, sandwich-type",
                        "ndbno": "18984"
                    },
                    {
                        "offset": 1,
                        "group": "Baked Products",
                        "name": "AUSTIN, Cheddar Cheese on Cheese Crackers, sandwich-type, reduced fat",
                        "ndbno": "18987"
                    },
                    {
                        "offset": 2,
                        "group": "Baked Products",
                        "name": "AUSTIN, Cheddar Cheese on Wafer Crackers, sand[...]
